{{extend 'layout.html'}}
<h1>estadistica</h1>
{{=formulario}}
<table id="result">
    <tr>
        <td>Maestro Especialista: {{=asesor}}</td>
    </tr>   
    <tr>
        <td>No. total escuelas: {{=contar_esc}}</td>
    </tr>
   <tr>
        <td>No. alumnos en la escuela: {{=contador}}</td>
      
    </tr>
    <tr>
        <td>No. Maestros en la escuela: {{=contar_doc}}</td>
    </tr>
    <tr>
        <td>No. padres en la escuela: {{=contar_pdrs or 'no se encuentra'}} </td>
    </tr>
   </table>
   <table  border="4px" id="result">
       <tr><td>Grado</td>
      <td>Grupo</td>
      <td>Total</td> </tr>
     {{for x in gdo:}}
         {{if x == Rows.grado:}} 
               {{y=""}}
                {{for g in tab_alum:}}                 
                   {{if g != y:}}
                     {{y=g}}
                 <tr>       
                   <td>{{=x}}</td>
                   <td>{{=g}}</td>
                    <td>{{=contar_grup[g]}}                     
             {{pass}} {{pass}}{{pass}}{{pass}}</td>
           </tr>
      
</table>


<h2>
{{if tab_alum == g:}}{{=tab_alum}}
{{else:}}{{=g}}
{{pass}}
</h2>
