{{extend 'layout.html'}}
<h1>estadistica</h1>
{{=formulario}}
<table id="result">
    <tr>
        <td>Maestro Especialista: {{=asesor}}</td>
    </tr>   
    <tr>
        <td>No. total escuelas:{{=contador}}</td>
    </tr>
   <tr>
        <td>No. alumnos en la escuela: </td>
      
    </tr>
    <tr>
        <td>No. Maestros en la escuela:</td>
    </tr>
    <tr>
        <td>No. padres en la escuela:...</td>
    </tr>
   </table>
   <table  id="result">
     <tr>
       <th>Nivel</th> 
       <th>Clave</th>
       <th>Grado</th>
       <th>Grupo</th>
       <th>Total</th>
    </tr>
</table>
